.heroBanner {
  padding: 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
}

.heroBanner h1 {
  margin-bottom: 0!important;
}

.heroBanner {
  margin-bottom: 2em;
}


@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
