<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection properties - Driver, URL, user, password -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://{{ rds_address }}:{{ rds_port }}/postgres</property>

		<property name="hibernate.connection.username">{{ rds_usernamme }}</property>
		<property name="hibernate.connection.password">{{ rds_password }}</property>

    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Connection Pool Size -->
		<property name="hibernate.connection.pool_size">1</property>

		<!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
		<property name="hibernate.current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<!-- Outputs the SQL queries, should be disabled in Production -->
		<property name="hibernate.show_sql">true</property>

		<property name="hibernate.hbm2ddl.auto">update</property>

		<!-- mapping file, we can use Bean annotations too -->
		<mapping resource="jenkinsjob.hbm.xml" />
	</session-factory>
</hibernate-configuration>
